In [81]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
df1 = pd.read_csv('CompanyX_EU.csv')

In [83]:
df1.head()

,Startup,Product,Funding,Event,Result,OperatingState
0,2600Hz,2600hz.com,NaN,Disrupt SF 2013,Contestant,Operating
1,3DLT,3dlt.com,$630K,Disrupt NYC 2013,Contestant,Closed
2,3DPrinterOS,3dprinteros.com,NaN,Disrupt SF 2016,Contestant,Operating
3,3Dprintler,3dprintler.com,$1M,Disrupt NY 2016,Audience choice,Operating
4,42 Technologies,42technologies.com,NaN,Disrupt NYC 2013,Contestant,Operating

In [84]:
df1['Funding in Million'] = df1['Funding'].str.replace('$', '', regex=True)
#df1['Funding in Million'] = pd.to_numeric(df1['Funding in Million'])
df1['Funding in Million']

0        NaN
1       630K
2        NaN
3         1M
4        NaN
       ...
657       8M
658       1M
659     223M
660     3.4M
661    31.5M
Name: Funding in Million, Length: 662, dtype: object

In [85]:
df2 = df1.dropna()
df2.reset_index(drop=True, inplace=True)
df2.head(662)

,Startup,Product,Funding,Event,Result,OperatingState,Funding in Million
0,3DLT,3dlt.com,$630K,Disrupt NYC 2013,Contestant,Closed,630K
1,3Dprintler,3dprintler.com,$1M,Disrupt NY 2016,Audience choice,Operating,1M
2,5to1,5to1.com,$19.3M,TC50 2009,Contestant,Acquired,19.3M
3,8 Securities,8securities.com,$29M,Disrupt Beijing 2011,Finalist,Operating,29M
4,AdhereTech,adheretech.com,$1.8M,Hardware Battlefield 2014,Contestant,Operating,1.8M
...,...,...,...,...,...,...,...
441,Zivity,zivity.com,$8M,TC40 2007,Contestant,Operating,8M
442,Zmorph,zmorph3d.com,$1M,-,Audience choice,Operating,1M
443,Zocdoc,zocdoc.com,$223M,TC40 2007,Contestant,Operating,223M
444,Zula,zulaapp.com,$3.4M,Disrupt SF 2013,Audience choice,Operating,3.4M
445,Zumper,zumper.com,$31.5M,Disrupt SF 2012,Finalist,Operating,31.5M

In [101]:
df2['Funding in Million'] = df2['Funding'].str.replace('$', '', regex=True)

def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) / 1000
        return 0.001
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1
        return 1
df2['Funding in Million'] = df2['Funding in Million'].apply(value_to_float)
print(df2)
df2['Funding in Million'] = pd.to_numeric(df2['Funding in Million'])
df2.head()
#print(df2)

          Startup          Product Funding                      Event  \
0            3DLT         3dlt.com   $630K           Disrupt NYC 2013
1      3Dprintler   3dprintler.com     $1M            Disrupt NY 2016
2            5to1         5to1.com  $19.3M                  TC50 2009
3    8 Securities  8securities.com    $29M       Disrupt Beijing 2011
4      AdhereTech   adheretech.com   $1.8M  Hardware Battlefield 2014
..            ...              ...     ...                        ...
441        Zivity       zivity.com     $8M                  TC40 2007
442        Zmorph     zmorph3d.com     $1M                          -
443        Zocdoc       zocdoc.com   $223M                  TC40 2007
444          Zula      zulaapp.com   $3.4M            Disrupt SF 2013
445        Zumper       zumper.com  $31.5M            Disrupt SF 2012

              Result OperatingState  Funding in Million
0         Contestant         Closed                0.63
1    Audience choice      Operating                1.00
2         Contestant       Acquired               19.30
3           Finalist      Operating               29.00
4         Contestant      Operating                1.80
..               ...            ...                 ...
441       Contestant      Operating                8.00
442  Audience choice      Operating                1.00
443       Contestant      Operating              223.00
444  Audience choice      Operating                3.40
445         Finalist      Operating               31.50

[446 rows x 7 columns]

C:\Users\dpk42\AppData\Local\Temp\ipykernel_21348\200187656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Funding in Million'] = df2['Funding'].str.replace('$', '', regex=True)
C:\Users\dpk42\AppData\Local\Temp\ipykernel_21348\200187656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Funding in Million'] = df2['Funding in Million'].apply(value_to_float)
C:\Users\dpk42\AppData\Local\Temp\ipykernel_21348\200187656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Funding in Million'] = pd.to_numeric(df2['Funding in Million'])

,Startup,Product,Funding,Event,Result,OperatingState,Funding in Million
0,3DLT,3dlt.com,$630K,Disrupt NYC 2013,Contestant,Closed,0.63
1,3Dprintler,3dprintler.com,$1M,Disrupt NY 2016,Audience choice,Operating,1.00
2,5to1,5to1.com,$19.3M,TC50 2009,Contestant,Acquired,19.30
3,8 Securities,8securities.com,$29M,Disrupt Beijing 2011,Finalist,Operating,29.00
4,AdhereTech,adheretech.com,$1.8M,Hardware Battlefield 2014,Contestant,Operating,1.80

In [89]:
def to_millions(df2['Funding in Million']):
    if df2['Funding in Million'].endswith('K'):
        return 
        float(df2['Funding in Million'].rstrip('K')) / 1000.0
    else:
        return float(df2['Funding in Million'])

SyntaxError: invalid syntax (2372166250.py, line 1)

In [88]:
df2

,Startup,Product,Funding,Event,Result,OperatingState,Funding in Million
0,3DLT,3dlt.com,$630K,Disrupt NYC 2013,Contestant,Closed,630K
1,3Dprintler,3dprintler.com,$1M,Disrupt NY 2016,Audience choice,Operating,1M
2,5to1,5to1.com,$19.3M,TC50 2009,Contestant,Acquired,19.3M
3,8 Securities,8securities.com,$29M,Disrupt Beijing 2011,Finalist,Operating,29M
4,AdhereTech,adheretech.com,$1.8M,Hardware Battlefield 2014,Contestant,Operating,1.8M
...,...,...,...,...,...,...,...
441,Zivity,zivity.com,$8M,TC40 2007,Contestant,Operating,8M
442,Zmorph,zmorph3d.com,$1M,-,Audience choice,Operating,1M
443,Zocdoc,zocdoc.com,$223M,TC40 2007,Contestant,Operating,223M
444,Zula,zulaapp.com,$3.4M,Disrupt SF 2013,Audience choice,Operating,3.4M
445,Zumper,zumper.com,$31.5M,Disrupt SF 2012,Finalist,Operating,31.5M